In [3]:
import pandas as pd 
import numpy as np

In [4]:
books  = pd.read_csv("books.csv")
ratings = pd.read_csv("ratings.csv")

In [5]:
books = books[['book_id', 'authors', 'title', 'average_rating']]

In [6]:
books = books.sort_values('book_id')

In [7]:
data = pd.merge(ratings,books, on='book_id')

In [8]:
books_data = pd.merge(books, ratings, on='book_id')

In [9]:
books_data.head()

,book_id,authors,title,average_rating,user_id,rating
0,1,"J.K. Rowling, Mary GrandPré",Harry Potter and the Half-Blood Prince (Harry ...,4.54,314,5
1,1,"J.K. Rowling, Mary GrandPré",Harry Potter and the Half-Blood Prince (Harry ...,4.54,439,3
2,1,"J.K. Rowling, Mary GrandPré",Harry Potter and the Half-Blood Prince (Harry ...,4.54,588,5
3,1,"J.K. Rowling, Mary GrandPré",Harry Potter and the Half-Blood Prince (Harry ...,4.54,1169,4
4,1,"J.K. Rowling, Mary GrandPré",Harry Potter and the Half-Blood Prince (Harry ...,4.54,1185,4

In [10]:
book_rating = pd.pivot_table(books_data, index='user_id', values='rating', columns='title', fill_value=0)

In [11]:
book_rating.head()

title,'Salem's Lot,"'Tis (Frank McCourt, #2)",1421: The Year China Discovered America,1776,1984,A Bend in the River,A Bend in the Road,A Brief History of Time,A Briefer History of Time,A Case of Need,...,"Women in Love (Brangwen Family, #2)",World War Z: An Oral History of the Zombie War,"World Without End (The Kingsbridge Series, #2)",Wuthering Heights,"Xenocide (Ender's Saga, #3)",Year of Wonders,You Shall Know Our Velocity!,Zen and the Art of Motorcycle Maintenance: An Inquiry Into Values,Zodiac,number9dream
user_id,,,,,,,,,,,,,,,,,,,,,
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0.0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0.0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0.0,0
7,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0.0,0
9,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0.0,0

In [12]:
from sklearn import cross_validation as cv
train_data, test_data = cv.train_test_split(book_rating, test_size=0.25)

/Users/prakritidevverma/anaconda3/lib/python3.6/site-packages/sklearn/cross_validation.py:41: DeprecationWarning: This module was deprecated in version 0.18 in favor of the model_selection module into which all the refactored classes and functions are moved. Also note that the interface of the new CV iterators are different from that of this module. This module will be removed in 0.20.
  "This module will be removed in 0.20.", DeprecationWarning)

In [14]:
# from sklearn.metrics.pairwise import pairwise_distances
# user_similarity = pairwise_distances(train_data, metric='cosine')
# item_similarity = pairwise_distances(train_data.T, metric='cosine')

In [30]:
from lightfm import LightFM
from lightfm.datasets import fetch_movielens
from lightfm.evaluation import precision_at_k

model = LightFM(loss='warp')

In [14]:
import scipy
data = scipy.sparse.csr_matrix(train_data.values)

In [16]:
data = data.T

In [28]:
data

<812x21679 sparse matrix of type '<class 'numpy.float64'>'
	with 59928 stored elements in Compressed Sparse Column format>

In [25]:
import scipy
data_test = scipy.sparse.csr_matrix(test_data.values)
data_test = data_test.T

In [29]:
data_test

<812x7227 sparse matrix of type '<class 'numpy.float64'>'
	with 19603 stored elements in Compressed Sparse Column format>

In [26]:
model = model.fit(data, epochs=30, num_threads=2)

In [27]:
test_precision = precision_at_k(model, data_test, k=5).mean()

ValueError: Incorrect number of features in item_features